html
	head
		title Login
		link(rel="stylesheet", href="css/common.css")
		link(rel="shortcut icon", href="image/logo.png", type="image/x-icon")
		link(rel="stylesheet", href="css/login.css")
		link(rel="stylesheet", href="css/navbar.css")
		script(src="/js/validator.js")
	body
		include navbar.pug
		div(class="container")
			h3 Login
			form(action="/login", method="post")
				.inner-container.user
					div(id="customer")
						input(type="radio", name="user",id="cust",value="customer",required,checked)
						label(for="cust") Customers
					div(id="shopkeeper")
						input(type="radio", name="user",id="shop",value="shopkeeper",required)
						label(for="shop") Shopkeeper
				div(class="inner-container")
					div(class="form-controller")
						label(for="username") Email:
						input(type="email", name="email",id="email", placeholder="Enter email",required)
					div(class="form-controller")
						label(for="password") Password:
						input(type="password", name="password", id="password", placeholder="Enter Password",required)
					div(class="form-controller")
						input(type="submit", value="Login", id="login")
				if err
						.err #{err}
			div(class="inner-container")
				a(onclick="sendPassword()",id="fpass") Forget Password?
			.inner-container#mail
			div(class="inner-container")
				p Don't have account? -
					a(href="./SignUp") SignUp
					| Now
		script.
			const submit = document.querySelector("input[type='submit']");
			const form = document.querySelector("form");

			let isValid = false;

			const validate = (whose, what) => {
				if (what == "valid") {
					whose.classList.remove("isvalid");
					submit.classList.remove("disabled");
					submit.removeAttribute("disabled");
				}
				else {
					whose.classList.add("isvalid");
					submit.classList.add("disabled");
					submit.setAttribute("disabled", "disabled");
				}
			}

			const email = document.querySelector("input[name='email']");
			email.addEventListener("focusout", () => {
				isValid = validator.isEmail(email.value.trim());
				isValid ? validate(email, "valid") : validate(email, "invalid");
			});
			
			const password = document.querySelector("input[name='password']");
			password.addEventListener("focusout", () => {
				isValid = validator.isStrongPassword(password.value.trim());
				isValid ? validate(password, "valid") : validate(password, "invalid");
			});

			const fpass=document.getElementById("fpass");
			const emailIp=document.getElementById("email");
			const mail=document.getElementById("mail");
			function sendPassword(){
				mail.style.display="block";
				const email = emailIp.value;
				if(email.trim()==""){
					mail.innerText="Enter email";
				}
				mail.innerText="Password Sending to your mail.......";
				fetch('/sendmail',{method:'POST',body:JSON.stringify({email}),  headers: {"Content-type": "application/json"}})
				.then(res=>res.text())
				.then(result=>{
					//- console.log(result);
					document.getElementById("mail").innerText=result;
				}).catch(err=>{
					//- console.log(err);
				})
			}
